html {
  font-size: 62.5%;
  box-sizing: border-box; }
  .preloader {
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   
    background: #e0e0e0;
    
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #72033f;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

body {
  font-family: "Raleway";
  margin: 0;
  padding: 0; }

header {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden; }

.header {
  max-height: 10rem;
  background-color: #72033f;
  padding: 0 4rem;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  color: white;
  justify-content: space-between; }
  .header_navigation {
    display: flex;
    align-items: center; }
    .header_navigation-links {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-right: 1.5rem;
      list-style: none; }

.hero_section-main_image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/hero-section.jpg");
  width: 100vw; }

.hero_section-bottom_section {
  display: flex;
  height: 31vh;
  width: 100vw; }
  .hero_section-bottom_section-1 {
    height: 100%;
    width: 50%;
    background-color: #72033f; }
  .hero_section-bottom_section-2 {
    height: 100%;
    width: 50%;
    background-color: white; }
