html {
  font-size: 62.5%;
  box-sizing: border-box; }
  .preloader {
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   
    background: #e0e0e0;
    
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #72033f;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

body {
  font-family: "Raleway";
  margin: 0;
  padding: 0; }

header {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden; }

h1,
h2,
p {
  margin: 0; }

.categories {
  scroll-behavior: smooth;
  min-height: 100vh;
  text-align: center; }
  .categories-headline {
    font-size: 4rem;
    margin: 8rem 0 4rem 0;
    text-transform: uppercase;
    color: #72033f; }
  .categories-cards {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 1rem auto;
    flex-wrap: wrap; }
  .categories-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #72033f;
    color: white;
    padding: 2rem 3rem;
    margin: 1rem 3rem; }
    .categories-card-heading {
      justify-content: flex-start;
      font-size: 2.3rem;
      text-transform: uppercase; }
    .categories-card-content {
      margin: 1rem 0;
      font-size: 1.5rem; }

.header {
  max-height: 100rem;
  width: 97%;
  background-color: #72033f;
  padding: 0 4rem;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  color: white;
  position: fixed;
  justify-content: space-between; }
  .header_navigation {
    height: 3.5rem;
    display: flex;
    align-items: center; }
    .header_navigation-links {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-right: 1.5rem;
      list-style: none; }

.hero_section-main_image {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/hero-section.png");
  width: 100vw; }

.hero_section-main-heading {
  margin-left: 4rem;
  font-size: 6.5rem;
  color: white;
  width: 60%; }

.hero_section-main-button {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 2rem 3rem;
  margin: 4rem;
  background-color: #72033f; }

  .hero_section-main-button:hover{
    background-color:#420124;
  }

.hero_section-bottom_section {
  display: flex;
  height: 31vh;
  width: 100vw; }
  .hero_section-bottom_section-1 {
    height: 100%;
    width: 50%;
    background-color: #72033f; }
  .hero_section-bottom_section-2 {
    height: 100%;
    width: 50%;
    background-color: white; }
