html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
}
header {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
h1,
h2,
p {
  margin: 0;
}
