.header {
  max-height: 7vh;
  background-color: #f0c15a;
  padding: 0 2rem;
  font-size: 1.3rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  &_navigation {
    display: flex;
    align-items: center;
    &-links {
      margin-right: 1.5rem;
      list-style: none;
    }
  }
}

.hero_section {
  &-main_image {
    height: 63vh;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://i.ibb.co/Z2yLz0m/DSC04604-2.jpg);
    width: 100vw;
  }
}
.hero_section-bottom_section {
  display: flex;
  height: 31vh;
  width: 100vw;
  &-1 {
    height: 100%;
    width: 50%;
    background-color: #f3ef82;
  }
  &-2 {
    height: 100%;
    width: 50%;
    background-color: #f0c15a;
  }
}
