.header {
  max-height: 100rem;
  width: 97%;
  background-color: $primary-colour;
  padding: 0 4rem;
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  color: white;
  position: fixed;
  justify-content: space-between;
  &_navigation {
    height: 3.5rem;
    display: flex;
    align-items: center;
    &-links {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-right: 1.5rem;
      list-style: none;
    }
  }
}

.hero_section {
  &-main_image {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/hero-section.png");
    width: 100vw;
  }
  &-main-heading {
    margin-left: 4rem;
    font-size: 6.5rem;
    color: white;
    width: 60%;
  }
  &-main-button {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    transition: all 0.2s ease-in;
    text-decoration: none;
    padding: 2rem 3rem;
    margin: 4rem;
    background-color: $primary-colour;
    &:hover {
      background-color: #420124;
    }
  }
}
.hero_section-bottom_section {
  display: flex;
  height: 31vh;
  width: 100vw;
  &-1 {
    height: 100%;
    width: 50%;
    background-color: #72033f;
  }
  &-2 {
    height: 100%;
    width: 50%;
    background-color: white;
  }
}

.content-box {
  padding: 10rem 4rem;
  &_heading {
    font-size: 3rem;
    color: $primary-colour;
  }
  &_paragraph {
    padding: 2rem 0;
    font-size: 1.5rem;
  }
}
@include respond(1200px) {
  html {
    font-size: 60%;
  }
  .hero_section-main-heading {
    font-size: 5rem;
    width: 75%;
  }
}
@include respond(800px) {
  html {
    font-size: 45%;
  }
}

@include respond(800px) {
  html {
    font-size: 45%;
  }
  .hero_section-main-heading {
    font-size: 4rem;
    width: 85%;
  }
}
